.pager {
  &-limit {
    display: inline;
    width: unset;
    max-width: 80px;
  }

  &-page {
    display: inline;
    width: unset;
    max-width: 80px;
    margin: 0 8px;
  }

  .btn {
    margin: 0 2px;
  }
}
