.btn.btn-toggle {
  padding: 0 8px;
}

.icon-toggle {
  @include themed {
    color: theme("main-accent");
  }
  margin: 0 5px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  @include themed {
    background-color: theme("gray-shadow");
  }
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  --webkit-transition: 0.4s;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
    --webkit-transition: none;
  }

  &--main-accent {
    @include themed {
      background-color: theme("main-accent");
    }
  }

  &--grid-list {
    display: inline;
  }

  // Rounded slider
  &--round {
    border-radius: 34px;

    &::before {
      border-radius: 50%;
    }
  }
}

.slider::before {
  @include themed {
    background-color: theme("white-themed");
  }
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  transition: 0.4s;
  --webkit-transition: 0.4s;

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
    --webkit-transition: none;
  }
}

input:checked + .slider {
  @include themed {
    background-color: theme("main-accent");
  }
}

input:focus + .slider {
  @include themed {
    box-shadow: 0 0 1px theme("main-accent");
  }
}

input:checked + .slider::before {
  --webkit-transform: translateX(26px);
  --ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider-icon {
  &--grid-list {
    font-size: 26px;
    vertical-align: middle;
  }
}
