// Themes

$themes: (
  default: (
    bg: $white-themed,
    fg: $gray-200,
    blue-lightest: $blue-lightest,
    blue-lighter: $blue-lighter,
    blue-light: $blue-light,
    blue-themed: $blue-themed,
    main-accent: $teal,
    blue-baby: $blue-baby,
    red-light: $red-light,
    red-lighter: $red-lighter,
    gray-shadow: $gray-shadow,
    white-themed: $white-themed,
    black-themed: $black-themed,
    gray-lighter: $gray-200,
    gray-light: $gray-300,
    gray-dark: $gray-800,
    button-border-color: $black-themed,
    form-control-border: $black-themed,
    input-group-text-border: #ced4da
  ),
  dark: (
    bg: #111,
    fg: $gray-200,
    blue-lightest: #263753,
    blue-lighter: #131d2e,
    blue-light: #448cff,
    blue-themed: #2373ff,
    main-accent: $teal-dark,
    blue-baby: #00887a,
    red-light: #fd8383,
    red-lighter: #ffccbc,
    gray-shadow: rgb(0, 0, 0),
    white-themed: #ddd,
    black-themed: $gray-200,
    gray-lighter: $gray-800,
    gray-light: $gray-300,
    gray-dark: $gray-200,
    button-border-color: #111,
    form-control-border: #888,
    input-group-text-border: #555
  )
);

// credit: https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1
@mixin themed {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        /* stylelint-disable */
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      /* stylelint-enable */
      @content;
      $theme-map: null !global;
    }
  }
}

// body rule needs special treatment, although this could probably be heavily simplified
@mixin themed_body {
  @each $theme, $map in $themes {
    .theme--#{$theme} {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        /* stylelint-disable */
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      /* stylelint-enable */
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
