$lightest-blue: #e7f0ff;
$lighter-blue: #d3e3fc;
$light-blue: #b1cefd;
$blue: #77a6f7;
$teal: #00887a;
$baby-blue: #00bad3;
$lighter-red: #ffccbc;
$shadow-grey: #777;

$min-xs: 0;
$max-xs: 575px;

$min-sm: 576px;
$max-sm: 767px;

$min-md: 768px;
$max-md: 991px;

$min-lg: 992px;
$max-lg: 1199px;

$min-xl: 1200px;
