@import "~normalize-scss/sass/normalize/import-now";
@import "~bootstrap/scss/bootstrap";

// our variables
@import "./variables";

// component styles
@import "./components/Dashboard/Dashboard";
@import "./components/FlavorBrowser/FlavorBrowser";
@import "./components/Footer/Footer";
@import "./components/IngredientBar/IngredientBar";
@import "./components/IngredientList/IngredientList";
@import "./components/Pagination/Pagination";
@import "./components/ToastDrawer/ToastDrawer";
@import "./components/SplitSlider/SplitSlider";
@import "./components/SuspenseFallback/SuspenseFallback";
@import "./components/ToggleButton/ToggleButton";

// page styles
@import "./pages/RecipeEditor";

// core style
@import "./style";
