@import url("https://fonts.googleapis.com/css?family=Architects+Daughter|Quicksand&display=swap");

// Changes the font site-wide
* {
  font-family: "Quicksand", sans-serif;
}

// Forces scrollbar to always be present, to combat the center being
// offset when switching between pages
html {
  overflow-y: scroll;
}

// Setting the scrollbar width
::-webkit-scrollbar {
  width: 0.45vw;
}

// Styling the scrollbar "track"
::-webkit-scrollbar-track {
  background-color: $white;
}

// Styling the scrollbar "thumb"
::-webkit-scrollbar-thumb {
  background-color: $teal;
  border-radius: 4px;
}

// Full page background color
body {
  background-color: $white;
  //background: linear-gradient(180deg, $light-blue 0%, $white 18%, $white 100%);
}

// Style for links
a {
  color: $teal;
}

// Style for horizontal rules
hr {
  border-bottom: 1px solid $teal;
  opacity: 0.5;
}

// When toggling certain elements off the screen (e.g. "no nicotine" in recipe editor)
// it changes the width of the container and the width of the other elements around it
// Switching the container to "fluid" didn't fix it, so this was unfortunately the best way I could
// find to solve the issue; by fixing the container width for medium screens and up
@include breakpoint-md() {
  .container {
    max-width: 800px;
  }
}

@include breakpoint-lg() {
  .container {
    max-width: 1000px;
  }
}

@include breakpoint-xl() {
  .container {
    max-width: 1200px;
  }
}

// Styling for the navbar
.navbar {
  background: none;
  border-radius: 0 0 1rem 1rem;
}

// Gradient background for the navigation container
.navigation-container {
  background: $lighter-blue;
  height: 10%;
  margin: 1em;
  border: 2px solid $teal;
  border-radius: 20px;
  box-shadow: 8px 8px 20px $shadow-grey;
}

// On screen sizes below ~1200px width, the nav links look a little weird by
// vertically aligning to the top, this puts them in the center
// This also centers everything for the mobile dropdown nav
.nav-link,
.nav-item {
  align-self: center;
  font-size: 1.4rem;
}

// Styling for dropdown links in the nav
.navbar .navbar-nav .nav-link.dropdown-toggle {
  color: $black;

  &:hover,
  &:focus {
    color: $black;
  }
}

// Styling for the dropdown menu
.dropdown-menu {
  text-align: center;
  background-color: $lightest-blue;

  & .dropdown-item.active,
  & .dropdown-item:active {
    background-color: inherit;
    font-weight: 900;
    color: $teal;
  }
}

// Styling for nav "brand" (MixNJuice "logo")
.navbar-brand {
  font-family: "Architects Daughter", cursive;
  font-size: 3em;
}

// Centering nav contents for phone screens
@media (max-width: $max-md) {
  .navbar {
    justify-content: center;
  }
}

// Styling for checkboxes
.form-check-input {
  appearance: none;
  background-color: $white;
  border: 1px solid $black;
  width: 20px;
  height: 20px;
  border-radius: 0.3rem;
  outline: 0;
}

.form-check-input:checked {
  background-color: $teal;
}

// Changing the border of any form fields
.form-control {
  outline: 0 none;
  border: 1px solid $black;

  // Style for "striped" tables
  tr:nth-of-type(odd) .table-striped {
    background-color: $lightest-blue;
  }

  // Changing the focused state of form fields
  &:focus {
    border: 3px solid $blue;
    box-shadow: none;
    outline: 0 none;
  }
}

// Changing the background for the text next to an input field
.input-group-text {
  background-color: gray("200");
}

// Changing the column width of the ingredient percent input
.recipe-percent {
  width: 27.5%;
}

// Card titles
.h5 {
  font-size: 1.1em;
  font-weight: 900;
}

// Card bodies
.card-text {
  font-size: 0.9em;
}

// Card headers
.card-header {
  font-size: 1.4em;
  font-weight: 900;
}

// Style for all inputs
input {
  text-align: center;
}

// Style for file inputs
.custom-file-input[type="file"] {
  border: 1px solid $black;
  border-radius: 0.25rem;
  padding: 5px;
}

.recipeTitle {
  font-size: 3em;
}

.img-thumbnail {
  border: 1px solid $teal;
}

// Style for "striped" tables
.table-striped tbody tr:nth-of-type(odd) {
  background-color: $lightest-blue;
}

// Link animations in the header links
// Credit to: https://emilkowalski.github.io/css-effects-snippets/
.navbar-nav .nav-link.nav--link-custom {
  display: inline-block;
  text-align: center;
  position: relative;
  color: $black;
  transition: 0.5s;

  &:hover,
  &:focus {
    color: $teal;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid $teal;
      color: $teal;
      transform-origin: bottom right;
      transition: none;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid $teal;
    color: $teal;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  &.active {
    font-weight: 900;
    color: $teal;
  }
}

// Universal button styling
.btn {
  height: 40px;
  padding: 0 14px;
  line-height: auto;
  border: 1px solid $black;

  > * {
    z-index: 2;
    position: relative;
  }

  &-primary {
    background: $teal;

    // Changing disabled buttons to grey
    &.disabled,
    &:disabled {
      color: gray("800");
      background-color: gray("300");
      border-color: gray("800");
    }
  }

  /* stylelint-disable-next-line a11y/line-height-is-vertical-rhythmed */
  &-sm {
    height: 28px;
    width: 28px;
    padding: 0;
    line-height: 0;
  }
}

// Button animations
// Credit to: https://emilkowalski.github.io/css-effects-snippets/
.button-animation {
  overflow: hidden;
  position: relative;
  color: $white;

  @media screen and (prefers-reduced-motion: reduce) {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background: $baby-blue;
      transition: none;
    }
  }

  @media screen and (prefers-reduced-motion: reduce) {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      background: $baby-blue;
      transition: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background: $baby-blue;
    transition: transform 0.2s ease-in-out;
    z-index: 1;
  }

  &:hover,
  &:focus {
    border: 1px solid $black;
    background-color: $teal;
  }

  &:hover::before,
  &:focus::before {
    transform: translateX(0);
  }

  span {
    position: relative;
    z-index: 1;
  }
}

// Changing the color of the heart SVG icon
.fa-heart {
  color: $light-red;
}

.rating-button {
  padding: 0 8px;
  border: 0;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;

  &:last-child {
    border-right: 1px solid $black;
  }

  &:first-child {
    border-left: 1px solid $black;
  }

  &:hover,
  &:focus {
    background: $teal;
    border-color: $black;
    box-shadow: inset 0 -3px $blue;
  }
}

.button--favorite {
  &:hover,
  &:focus {
    background: $teal;
    border-color: $black;
    box-shadow: inset 0 -3px $blue;
  }
}

.button--recipe {
  margin: 5px 0;
}

.button--cancel {
  background-color: $light-red;
}

.container--recipe .row {
  margin: 5px 0;
}

.link--tags {
  margin: 2px 8px;
  padding: 3px 8px;
  border: 1px solid $teal;
  border-radius: 5px;
  background-color: $lighter-blue;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $blue;
    background-color: $lightest-blue;
  }
}

.image--logo {
  width: 12rem;
}

.cursor--pointer {
  cursor: pointer;
}

.arrow--down {
  color: $teal;
}

.arrow--up {
  color: $shadow-grey;
}

.text--primary {
  color: $teal;
}
