@import url("https://fonts.googleapis.com/css?family=Architects+Daughter|Quicksand&display=swap");

// Changes the font site-wide
* {
  font-family: "Quicksand", sans-serif;
  transition-duration: 0.8s;
}

// Forces scrollbar to always be present, to combat the center being
// offset when switching between pages
html {
  overflow-y: scroll;
}

// Setting the scrollbar width
::-webkit-scrollbar {
  width: 0.45vw;
}

// Styling the scrollbar "track"
::-webkit-scrollbar-track {
  @include themed {
    background-color: theme("white-themed");
  }
}

// Styling the scrollbar "thumb"
::-webkit-scrollbar-thumb {
  @include themed {
    background-color: theme("main-accent");
  }
  border-radius: 4px;
}

// Full page background color
// Effectively, this is a body rule
@include themed_body {
  background-color: theme("bg");
  color: theme("fg");
  //background: linear-gradient(180deg, $blue-light 0%, $white-themed 18%, $white-themed 100%);
}

// Style for links
a {
  margin: 3px;

  @include themed {
    color: theme("main-accent");
  }
}

// Style for horizontal rules
hr {
  @include themed {
    border-bottom: 1px solid theme("main-accent");
  }
  opacity: 0.5;
}

// When toggling certain elements off the screen (e.g. "no nicotine" in recipe editor)
// it changes the width of the container and the width of the other elements around it
// Switching the container to "fluid" didn't fix it, so this was unfortunately the best way I could
// find to solve the issue; by fixing the container width for medium screens and up
@include breakpoint-md() {
  .container {
    max-width: 800px;
  }
}

@include breakpoint-lg() {
  .container {
    max-width: 1000px;
  }
}

@include breakpoint-xl() {
  .container {
    max-width: 1200px;
  }
}

// Styling for the navbar
.navbar {
  background: none;
  border-radius: 0 0 1rem 1rem;
}

// Gradient background for the navigation container
.navigation-container {
  @include themed {
    background: theme("alt-accent-lighter");
    border: 2px solid theme("main-accent");
    box-shadow: 8px 8px 20px theme("gray-shadow");
  }
  height: 10%;
  margin: 1em;
  border-radius: 20px;
}

// On screen sizes below ~1200px width, the nav links look a little weird by
// vertically aligning to the top, this puts them in the center
// This also centers everything for the mobile dropdown nav
.nav-link,
.nav-item {
  align-self: center;
  font-size: 1.4rem;
}

// Styling for dropdown links in the nav
.navbar .navbar-nav .nav-link.dropdown-toggle {
  @include themed {
    color: theme("black-themed");
  }

  &:hover,
  &:focus {
    @include themed {
      color: theme("black-themed");
    }
  }
}

// Styling for the dropdown menu
.dropdown-menu {
  @include themed {
    background-color: theme("alt-accent-lightest");
  }
  text-align: center;

  & .dropdown-item:hover,
  & .dropdown-item:focus {
    @include themed {
      background-color: theme("gray-lightest");
      color: theme("fg");
    }
  }

  & .dropdown-item.active,
  & .dropdown-item:active {
    @include themed {
      color: theme("main-accent");
      background-color: theme("alt-accent-lightest");
    }
    // background-color: inherit;
    font-weight: 900;
  }
}

// Styling for nav "brand" (MixNJuice "logo")
.navbar-brand {
  font-family: "Architects Daughter", cursive;
  font-size: 3em;
}

// Centering nav contents for phone screens
@media (max-width: $max-md) {
  .navbar {
    justify-content: center;
  }
}

// Styling for checkboxes
.form-check-input {
  @include themed {
    background-color: theme("white-themed");
    border: 1px solid theme("black-themed");
  }
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 0.3rem;
  outline: 0;
}

.form-check-input:checked {
  @include themed {
    background-color: theme("main-accent");
    color: theme("fg");
  }
}

// Changing the border of any form fields
.form-control {
  @include themed {
    border: 1px solid theme("form-control-border");
    background-color: theme("bg");
    color: theme("gray-dark");
  }
  outline: 0 none;

  // Style for "striped" tables
  tr:nth-of-type(odd) .table-striped {
    @include themed {
      background-color: theme("alt-accent-lightest");
    }
  }

  // Changing the focused state of form fields
  &:focus {
    @include themed {
      border: 3px solid theme("alt-accent");
    }
    box-shadow: none;
    outline: 0 none;
  }
}

// Changing the column width of the ingredient percent input
.recipe-percent {
  width: 27.5%;
}

// Cards
.card {
  @include themed {
    background-color: theme("card-bg");
    border-color: theme("card-border");
  }
}

.card-footer {
  @include themed {
    background-color: theme("card-footer-bg");
  }
}

// Card titles
.h5 {
  font-size: 1.1em;
  font-weight: 900;
}

// Card bodies
.card-text {
  font-size: 0.9em;
}

// Card headers
.card-header {
  font-size: 1.4em;
  font-weight: 900;
}

// Style for all inputs
input {
  text-align: center;
}

// Style of the description box of an input
.input-group-text {
  @include themed {
    border: 1px solid theme("input-group-text-border");
    background-color: theme("gray-lighter");
    color: theme("gray-dark");
  }
}

// Style for file inputs
.custom-file-input[type="file"] {
  border-radius: 0.25rem;
  padding: 5px;
}

// Changing the style of the file upload input box
.custom-file-label {
  @include themed {
    border: 1px solid theme("input-group-text-border");
    background-color: theme("bg");
    color: theme("gray-dark");
  }
}

// The description box, e.g. the browse button
.form-label::after {
  @include themed {
    background-color: theme("gray-lighter");
    color: theme("gray-dark");
  }
}

.recipeTitle {
  font-size: 3em;
}

.img-thumbnail {
  @include themed {
    border: 1px solid theme("main-accent");
  }
}

// Style for tables
.table td,
.table th {
  @include themed {
    border-color: theme("table-border");
    color: theme("fg");
  }
}

// Style for "striped" tables
.table-striped tbody tr:nth-of-type(odd) {
  @include themed {
    background-color: theme("alt-accent-lightest");
  }
}

// Link animations in the header links
// Credit to: https://emilkowalski.github.io/css-effects-snippets/
.navbar-nav .nav-link.nav--link-custom {
  @include themed {
    color: theme("black-themed");
  }
  display: inline-block;
  text-align: center;
  position: relative;
  transition: 0.5s;

  &:hover,
  &:focus {
    @include themed {
      color: theme("main-accent");
    }
  }

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;

    &::after {
      @include themed {
        border-bottom: 1px solid theme("main-accent");
        color: theme("main-accent");
      }
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      transform-origin: bottom right;
      transition: none;
    }
  }

  &::after {
    @include themed {
      border-bottom: 1px solid theme("main-accent");
      color: theme("main-accent");
    }
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  &.active {
    @include themed {
      color: theme("main-accent");
    }
    font-weight: 900;
  }
}

// Universal button styling
.btn {
  @include themed {
    border: 1px solid theme("button-border-color");
  }
  height: 40px;
  padding: 0 14px;
  line-height: auto;

  > * {
    z-index: 2;
    position: relative;
  }

  @include themed {
    &-primary {
      background: theme("main-accent");
    }
  }

  // Changing disabled buttons to gray
  &.disabled,
  &:disabled {
    @include themed {
      color: theme("gray-dark");
      background-color: theme("gray-light");
      border-color: theme("gray-dark");
    }
  }

  &-sm {
    height: 28px; /* stylelint-disable-line */
    width: 28px;
    padding: 0;
    line-height: 0;
  }
}

// Button animations
// Credit to: https://emilkowalski.github.io/css-effects-snippets/
.button-animation {
  @include themed {
    color: theme("white-themed");
  }
  overflow: hidden;
  position: relative;

  @media screen and (prefers-reduced-motion: reduce) {
    &::before {
      @include themed {
        background: theme("alt-accent-baby");
      }
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      transition: none;
    }
  }

  @media screen and (prefers-reduced-motion: reduce) {
    &::before {
      @include themed {
        background: theme("alt-accent-baby");
      }
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      transition: none;
    }
  }

  &::before {
    @include themed {
      background: theme("alt-accent-baby");
    }
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
    z-index: 1;
  }

  &:hover,
  &:focus {
    @include themed {
      border: 1px solid theme("button-border-color");
      background-color: theme("main-accent");
    }
  }

  &:hover::before,
  &:focus::before {
    transform: translateX(0);
  }

  span {
    position: relative;
    z-index: 1;
  }
}

// Changing the color of the heart SVG icon
.fa-heart {
  @include themed {
    color: theme("red-light");
  }
}

.rating-button {
  @include themed {
    border-top: 1px solid theme("black-themed");
    border-bottom: 1px solid theme("black-themed");
  }
  padding: 0 8px;
  border: 0;

  &:last-child {
    @include themed {
      border-right: 1px solid theme("black-themed");
    }
  }

  &:first-child {
    @include themed {
      border-left: 1px solid theme("black-themed");
    }
  }

  &:hover,
  &:focus {
    @include themed {
      background: theme("main-accent");
      box-shadow: inset 0 -3px theme("alt-accent");
      border-color: theme("black-themed");
    }
  }
}

.button--favorite {
  &:hover,
  &:focus {
    @include themed {
      background: theme("main-accent");
      border-color: theme("black-themed");
      box-shadow: inset 0 -3px theme("alt-accent");
    }
  }
}

.button--recipe {
  margin: 5px 0;
}

.container--recipe .row {
  margin: 5px 0;
}

.link--tags {
  @include themed {
    background-color: theme("alt-accent-lighter");
    border: 1px solid theme("main-accent");
  }
  margin: 2px 8px;
  padding: 3px 8px;
  border-radius: 5px;

  &:hover,
  &:focus {
    @include themed {
      color: theme("alt-accent");
      background-color: theme("alt-accent-lightest");
    }
    text-decoration: none;
  }
}

.image--logo {
  width: 12rem;
}

.border-top {
  @include themed {
    // Normalize-scss forces us to use important here
    /* stylelint-disable-next-line */
    border-top: 1px solid theme("table-border") !important;
  }
}

.border-bottom {
  @include themed {
    // Normalize-scss forces us to use important here
    /* stylelint-disable-next-line */
    border-bottom: 1px solid theme("table-border") !important;
  }
}
