// Themes

$themes: (
  default: (
    bg: $white-pure,
    fg: map-get($gray, 800),
    alt-accent-lightest: map-get($blue, lightest),
    alt-accent-lighter: map-get($blue, lighter),
    alt-accent-light: map-get($blue, light),
    alt-accent: map-get($blue, themed),
    main-accent: $teal,
    alt-accent-baby: map-get($blue, baby),
    red-light: map-get($red, light),
    red-lighter: map-get($red, lighter),
    gray-shadow: map-get($gray, shadow),
    white-themed: $white-pure,
    black-themed: $black-pure,
    gray-lightest: map-get($gray, lightest),
    gray-lighter: map-get($gray, 200),
    gray-light: map-get($gray, 300),
    gray-dark: map-get($gray, 800),
    button-border-color: $black-pure,
    form-control-border: $black-pure,
    input-group-text-border: #ced4da,
    select-border: map-get($gray, 300),
    select-box-top: map-get($gray, lightest),
    select-box-bottom: map-get($gray, 200),
    select-box-top-bevel: $white-pure,
    table-border: map-get($gray, 300),
    card-bg: $white-pure,
    card-border: #dfdfdf,
    card-footer-bg: #f7f7f7,
    toast-fg: #6c757d,
    toast-bg: $white-pure,
    toast-close: $black-pure
  ),
  dark: (
    bg: map-get($gray, darkest),
    fg: map-get($gray, 200),
    alt-accent-lightest: #121925,
    alt-accent-lighter: #0f1e38,
    alt-accent-light: #1761da,
    alt-accent: #1959c9,
    main-accent: $teal-dark,
    alt-accent-baby: $teal,
    red-light: map-get($red, light),
    red-lighter: map-get($red, lighter),
    gray-shadow: map-get($gray, darker),
    white-themed: #ddd,
    black-themed: map-get($gray, 200),
    gray-lightest: map-get($gray, darker),
    gray-lighter: map-get($gray, 800),
    gray-light: map-get($gray, 500),
    gray-dark: map-get($gray, 200),
    button-border-color: map-get($gray, darkest),
    form-control-border: #888,
    input-group-text-border: map-get($gray, mid),
    select-border: map-get($gray, mid),
    select-box-top: map-get($gray, 800),
    select-box-bottom: map-get($gray, darker),
    select-box-top-bevel: map-get($gray, darker),
    table-border: map-get($gray, mid),
    card-bg: map-get($gray, darkest),
    card-border: map-get($gray, dark),
    card-footer-bg: map-get($gray, darker),
    toast-fg: map-get($gray, 200),
    toast-bg: map-get($gray, dark), //800
    toast-close: $white-pure
  )
);

// credit: https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1
@mixin themed {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        /* stylelint-disable */
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      /* stylelint-enable */
      @content;
      $theme-map: null !global;
    }
  }
}

// body rule needs special treatment, although this could probably be heavily simplified
@mixin themed_body {
  @each $theme, $map in $themes {
    .theme--#{$theme} {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        /* stylelint-disable */
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      /* stylelint-enable */
      @content;
      $theme-map: null !global;
    }
  }
}

@function theme($key) {
  @return map-get($theme-map, $key);
}
